# --- Keil 编译生成的中间文件 (必须忽略) ---
Objects/
Listings/
*.o
*.d
*.crf
*.lnp
*.map
*.lst
*.htm
*.dep
*.axf
*.hex
*.bin
*.elf
*.sct

# --- Keil 用户配置 (建议忽略，避免覆盖别人的调试器设置) ---
*.uvoptx
*.uvgui.*
*.uvguix.*
JLinkLog.txt
*.bak

# --- 操作系统临时文件 ---
.DS_Store
Thumbs.db

# --- 注意：必须保留的文件 ---
!*.uvprojx   # 确保项目文件被包含
!*.c         # 确保代码被包含
!*.h
!*.s         # 启动文件
!*.lib       # 库文件
